@model SoftEngineering.Models.SubjectAdder
@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/main.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main">
        <div id="header_nav">
            <ul>
                <li>@Html.ActionLink("Timetable", "ManualTimetable", "Home")</li>
                <li><a class="active" href="#">Panel Administracyjny</a></li>
                <li>@Html.ActionLink("Accmanagment", "Accmanagment", "Accmanagment")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                <li class="logout"><a href="./LogOut">Wyloguj</a></li>
            </ul>
        </div>

        <div class="content_wrapper">
            <button type="button" class="dropdownpanel">DODAWANIE ZAJĘĆ</button>
            <div class="zawartosc">
                <div class="addSubject">
                    @using (Html.BeginForm("SubjectAdd", "AdminPanel", FormMethod.Post))
                    {
                        <form>
                            <ul class="form-style-1">
                                <li>
                                    <label>
                                        Przedmiot:
                                        @Html.TextBoxFor(model => model.NewSubject)
                                    </label>
                                </li>
                                <li>
                                    <br />
                                    <label>
                                        Wykładowca:
                                        <select name="field1" class="field-select" id="adjusting2">
                                            @foreach (var lec in ViewData["lecturers"] as List<string>)
                                            {
                                                <option value="teacher2">@lec</option>
                                            }
                                        </select>
                                    </label>
                                </li>
                                <li>
                                    <br />
                                    <label>
                                        Godziny zajęć: <input type="text" name="subjectTime" id="adjusting" />
                                    </label>
                                </li>
                                <li>
                                    <br />
                                    <input type="submit" value=" Zatwierdź " id="adjusting3" />
                                </li>
                            </ul>
                        </form>
                    }
                </div>
            </div>
            <button type="button" class="dropdownpanel">ZARZĄDZANIE UŻYTKOWNIKAMI</button>
            <div class="zawartosc">
                <div class="addPermissions">
                    <form>
                        <ul class="form-style-1">
                            <li>
                                <label>
                                    Wykładowca:
                                    <select name="field2" class="field-select" id="adjusting4">
                                        <option value="teacher1">Doktor Górnisiewicz</option>
                                        <option value="teacher2">Profesor Kandulski</option>
                                        <option value="teacher3">Profesor Małuch</option>
                                        <option value="teacher4">Profesor Stach</option>
                                        <option value="teacher5">Brak</option>
                                    </select>
                                </label>
                                <label>
                                    <br />
                                    Student:
                                    <select name="field2" class="field-select" id="adjusting4">
                                        <option value="student1">Pan Stasiewicz</option>
                                        <option value="student2">Pan Michałek</option>
                                        <option value="student3">Pani Szczęsnowicz</option>
                                        <option value="student4">Pani gita</option>
                                        <option value="student5">Pan Sokół</option>
                                        <option value="student6">Brak</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <br />
                                <label>
                                    Rodzaj uprawnienia:
                                    <select name="field4" class="field-select" id="adjusting4">
                                        <option value="teacher1">Wszystkie</option>
                                        <option value="teacher2">Edycja</option>
                                        <option value="teacher3">Odczyt</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <br />
                                <input type="submit" value=" Zatwierdź " id="adjusting3" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <button type="button" class="dropdownpanel">EDYCJA ZAJĘĆ</button>
            <div class="zawartosc">
                <div class="editSchoolSubject">
                    <form>
                        <ul class="form-style-1">
                            <li>
                                <label>
                                    Wybierz przedmiot:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="subject1">Inżynieria oprogramowania</option>
                                        <option value="subject2">Automaty i języki formalne</option>
                                        <option value="subject3">Podstawy elektroniki</option>
                                        <option value="subject4">Geoinformatyka</option>
                                        <option value="subject5">Biologia dla informatyków</option>

                                    </select>
                                </label>
                                <label>
                                    Wybierz datę:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="date1">którys stycznia</option>
                                        <option value="date2">jakiśtam lutego</option>
                                        <option value="date3">któregoś marca</option>
                                        <option value="date4">pewnego grudnia</option>
                                        <option value="date5">5 maj</option>

                                    </select>
                                </label>
                                <label>
                                    Zamień wybrany przedmiot na:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="subject1">Inżynieria oprogramowania</option>
                                        <option value="subject2">Automaty i języki formalne</option>
                                        <option value="subject3">Podstawy elektroniki</option>
                                        <option value="subject4">Geoinformatyka</option>
                                        <option value="subject5">Biologia dla informatyków</option>

                                    </select>
                                </label>
                                <label>
                                    Wybierz wykładowcę:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="teacher1">Doktor Górnisiewicz</option>
                                        <option value="teacher2">Profesor Kandulski</option>
                                        <option value="teacher3">Profesor Małuch</option>
                                        <option value="teacher3">Profesor Stach</option>
                                    </select>
                                </label>
                                <label>
                                    Wybierz salę:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="room1">104</option>
                                        <option value="room2">105</option>
                                        <option value="room3">204</option>
                                        <option value="room4">205</option>
                                    </select>
                                </label>
                                <label>
                                    Zamień godzinę na:
                                    <select name="field3" class="field-select" id="adjusting5">
                                        <option value="hour1">8.00 - 9.30</option>
                                        <option value="hour2">9.45 - 11.15</option>
                                        <option value="hour3">11.30 - 13.00</option>
                                        <option value="hour4">13.30 - 15.00</option>
                                        <option value="hour5">15.15 - 16.45</option>
                                        <option value="hour6">Brak</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <br />
                                <input type="submit" value=" Zatwierdź " id="adjusting3" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <button type="button" class="dropdownpanel">DODAJ POWIADOMIENIE</button>
            <div class="zawartosc">
                <div class="addMessage">
                    <form>
                        <ul class="form-style-1">
                            <li>
                                <label>
                                    Wyślij do:<br />
                                    <select name="field4" class="field-select" id="adjusting6">
                                        <option value="teacher1">Doktor Górnisiewicz</option>
                                        <option value="teacher2">Profesor Kandulski</option>
                                        <option value="teacher3">Profesor Małuch</option>
                                        <option value="teacher3">Profesor Stach</option>
                                    </select>
                                </label>
                            </li>
                            <li>
                                <label>
                                    Treść wiadomości: <br /> <textarea name="message" style="width: 30%"></textarea>
                                </label>
                            </li>
                            <li>
                                <input type="submit" value=" Wyślij " id="adjusting3" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <div id="footer">
            <a class="footer_link" href="./Contact">Kontakt</a>
            <br />
            &copy; Nadnotecki Instytut UAM w Pile
            <br />
            <a class="footer_link" href="https://pila.amu.edu.pl/">Witryna Nadnoteckiego Instytutu UAM w Pile</a>
        </div>
    </div>
    <script>
        var coll = document.getElementsByClassName("dropdownpanel");


        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                for (var j = 0; j < coll.length; j++) {
                    coll[j].classList.remove("aktywowanie");
                    coll[j].nextElementSibling.style.display = "none";
                }

                this.classList.toggle("aktywowanie");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    <script>
</body >
</html >
