@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

@model SoftEngineering.Models.MailSender

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="main">
        <div id="header_nav">
            <ul>
                <li><a href="./ManualTimetable">Plan Zajęć</a></li>
                <li><a href="./AdminPanel">Panel Administracyjny</a></li>
                <li><a href="./Accmanagment">Zarządzanie kontem</a></li>
                <li><a class="active" href="#">Kontakt</a></li>
                <li class="logout"><a href="./LogOut">Wyloguj</a></li>
            </ul>
        </div>
        <section class="contact_wrapper">
            @using (Html.BeginForm("ContactMail", "Home", FormMethod.Post))
            {
                <form class="contact_form">
                    <div class="contact_id">
                        <div class="contact_imie">
                            <label for="imie">Imię: </label>
                            @Html.TextBoxFor(model => model.firstname)
                        </div>
                        <div class="contact_nazwisko">
                            <label for="nazwisko">Nazwisko: </label>
                            @Html.TextBoxFor(model => model.lastname)
                        </div>
                    </div>
                    <div class="contact_info">
                        <div class="contact_email">
                            <label for="email">E-mail: </label>
                            @Html.TextBoxFor(model => model.mailadress)
                        </div>
                        <div class="contact_temat">
                            <label for="Tytuł zapytania:">Temat</label>
                            @Html.TextBoxFor(model => model.mailsubject)
                        </div>
                    </div>
                    <br />
                    <div class="contact_text">
                        <div class="content">
                            <label id="content" for="content">Treść</label>
                            @Html.TextBoxFor(model => model.mailtext)
                        </div>
                    </div>
                    <div class="contact_button">
                        <button type="submit">Wyślij</button>
                    </div>
                </form>
            }
        </section>
        <div id="footer">
            <a class="footer_link" href="https://pila.amu.edu.pl/">Kontakt</a>
            <br />
            &copy; Nadnotecki Instytut UAM w Pile
            <br />
            <a class="footer_link" href="https://pila.amu.edu.pl/">Witryna Nadnoteckiego Instytutu UAM w Pile</a>
        </div>
    </div>
</body>
</html>
