
@{
    ViewBag.Title = "ManualTimetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="pl">
<head>
    <title>SoftEngineering</title> @* temporary title tag *@
    <link href="~/Style/main.css" rel="stylesheet" />
    <script src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Jquery-->
    <script>
        $(document).ready(function () {
            var subject = document.getElementById("SubElement1").value;
            var titleAtr = document.getElementById("SubElement1").title;
            $("#option").change(function () {
                $("#option option:selected").each(function () {
                    subject = $(this).text();
                    titleAtr = $("#option option:selected").attr("title");
                });
            })

            //----

            $(function () {
                $("#save").click(function () {
                    if (confirm("Czy chcesz zapisać zmiany?")) {
                        defaultData = []

                        $("table .test").each(function (row, tr) {
                            tmp = []
                            tmp.push($(tr).find('td:eq(1)').text(),
                                $(tr).find('td:eq(2)').text(),
                                $(tr).find('td:eq(3)').text(),
                                $(tr).find('td:eq(4)').text(),
                                $(tr).find('td:eq(5)').text())
                            defaultData.push(tmp)

                        });
                        alert("Zapisano plan");
                    }
                    else {

                    }
                });
            });

            $(document).on('click', 'td[id="SubjectField"]', function () {
                $(this).text(subject);
                $(this).attr('title', titleAtr);
            });
            $(document).on("click", "#calendar-body td", function () {
                $(".bg-primary").removeClass("bg-primary")
                $(this).addClass("bg-primary");
                $(".hoverTable").remove();
                var table = arrayToTable(defaultData, {
                    thead: true,
                    attrs: { class: 'hoverTable', border: 1 }
                })
                $('div[id="table"]').append(table);
            });
        });
    </script>
</head>
<body>
    <div id="header_nav">
        <ul>
            <li><a class="active" href="#">Plan Zajęć</a></li>
            <li>@Html.ActionLink("AdminPanel", "AdminPanel", "AdminPanel")</li>
            <li>@Html.ActionLink("Accmanagment", "Accmanagment", "Accmanagment")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
            <li class="logout"><a href="./LogOut">Wyloguj</a></li>
        </ul>
    </div>
    <div>
        <div id="menu">
            <select class="form-control form-control-lg" id="option">
                @foreach (var sub in ViewData["subjects"] as List<string>)
                {
                    <option id="SubElement1" title="datafromquery">@sub</option>
                }
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="table">
            <table border="2">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <br />
    <button id="save">Zapisz</button>
    <ul class="form-style-1" id="manullist">
        <li>
            <label>
                Aktualna grupa:
                <select name="field1" class="field-select" id="adjustingadd">
                   @foreach (var sub in ViewData["groups"] as List<string>)
                    {
                        <option id="SubElement1" title="datafromquery">@sub</option>
                    }
                </select>
            </label>
        </li>
    </ul>
</body>
</html>
