@{
    Layout = "~/Views/Shared/_Page_Layout.cshtml";
}

@model SoftEngineering.Models.MailSender

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kontakt - Formularz Kontaktowy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Style/css/main.css">
    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Jquery-->
</head>
<body>
    <div class="main">
        <div id="header_nav">
            <ul>
                <li>@Html.ActionLink("Plan Zajęć", "ManualTimetable", "Home")</li>
                <li>@Html.ActionLink("Panel Administracyjny", "AdminPanel", "AdminPanel")</li>
                <li>@Html.ActionLink("Zarządzanie kontem", "Accmanagment", "Accmanagment")</li>
                <li><a class="active" href="#">Kontakt</a></li>
                <li class="logout">@Html.ActionLink("Wyloguj", "LogOut", "Home")</li>
            </ul>
        </div>
        <div class="contact_wrapper mg-bt30">
            @using (Html.BeginForm("ContactMail", "Contact", FormMethod.Post))
            {
                <span class="contact_form">

                    <span class="contact-form-title mg-bt12">
                        Formularz Kontaktowy
                    </span>

                    <span class="txt1">
                        Imię:
                    </span>
                    <div class="wrap-input mg-bt12">
                        @Html.TextBoxFor(model => model.firstname, new { @class = "input", @required = "required", @maxlength = "50" })
                        <span class="focus-input"></span>
                    </div>


                    <span class="txt1">
                        Nazwisko:
                    </span>
                    <div class="wrap-input mg-bt12">
                        @Html.TextBoxFor(model => model.lastname, new { @class = "input", @required = "required", @maxlength = "50" })
                        <span class="focus-input"></span>
                    </div>


                    <span class="txt1">
                        Adres E-mail:
                    </span>
                    <div class="wrap-input mg-bt12">
                        @Html.TextBoxFor(model => model.mailadress, new { @class = "input", @required = "required", @maxlength = "100" })
                        <span class="focus-input"></span>
                    </div>

                    <span class="txt1">
                        Tytuł:
                    </span>
                    <div class="wrap-input mg-bt12">
                        @Html.TextBoxFor(model => model.mailsubject, new { @class = "input", @required = "required", @maxlength = "100" })
                        <span class="focus-input"></span>
                    </div>

                    <span class="txt1">
                        Treść:
                    </span>
                    <div class="wrap-input mg-bt12">
                        @Html.TextAreaFor(model => model.mailtext, new { @class = "textarea", @placeholder = "Wpisz treść wiadomości...", @required = "required", @maxlength = "1000" })
                        <span class="focus-input"></span>
                    </div>
                    <div class="container-contact-form-btn mg-tp30">
                        <button type="reset" class="contact-form-btn-clear">
                            Wyczyść
                        </button>
                        <button type="submit" class="contact-form-btn">
                            Prześlij
                        </button>
                    </div>

                </span>
            }
            <span class="contact_info mg-bt30">
                <span class="contact-form-title mg-bt12">
                    Dane Kontaktowe
                </span>

                <span class="txt4 mg-bt12">
                    Numer Kontaktowy: 123456789
                </span>
                <span class="txt4 mg-bt12">
                    Adres E-mail: pila&commat;amu.edu.pl
                </span>
                <span class="txt4 mg-bt12">
                    Adres: Nadnotecki Instytut UAM w Pile - ul. Kołobrzeska 15, 64-920 Piła
                </span>
                <span class="txt4">
                    Godziny pracy: 8:00 - 16:00
                </span>
            </span>
        </div>
    </div>
    <div id="footer">
        <span>@Html.ActionLink("Kontakt", "Contact", "Contact", null, new { id = "contact_link" })</span>
        <br />
        &copy; Nadnotecki Instytut UAM w Pile
        <br />
        <a class="footer_link" href="https://pila.amu.edu.pl/">Witryna Nadnoteckiego Instytutu UAM w Pile</a>
    </div>
    </div>
</body>
</html>
