<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="~/Style/calendarmake.css" rel="stylesheet" />
    <link href="~/Style/main.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/calendarscipt.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>
</head>
<body style="background-color:powderblue;" onload="startTime()">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div id="txt"></div>

    <div class="container col-sm-2 col-md-7 col-lg-4 mt-5" id="positioning">
        <div class="card">
            <h3 class="card-header" id="monthAndYear"></h3>
            <table class="table table-bordered table-responsive-sm" id="calendar">
                <thead>
                    <tr>

                        <th>Nie</th>
                        <th>Pon</th>
                        <th>Wto</th>
                        <th>Sro</th>
                        <th>Czw</th>
                        <th>Pia</th>
                        <th>Sob</th>
                    </tr>
                </thead>

                <tbody id="calendar-body">
                </tbody>
            </table>

            <div class="form-inline">

                <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Poprzedni</button>

                <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Następny</button>
            </div>
            <br />
            <form class="form-inline">
                <label class="lead mr-2 ml-2" for="month">Przejdź do: </label>
                <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                    <option value=0>Styczeń</option>
                    <option value=1>Luty</option>
                    <option value=2>Marzec</option>
                    <option value=3>Kwiecień</option>
                    <option value=4>Maj</option>
                    <option value=5>Czerwiec</option>
                    <option value=6>Lipiec</option>
                    <option value=7>Sierpień</option>
                    <option value=8>Wczesień</option>
                    <option value=9>Październik</option>
                    <option value=10>Listopad</option>
                    <option value=11>Grudzień</option>
                </select>


                <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
                    <option value=2018>2018</option>
                    <option value=2019>2019</option>
                    <option value=2020>2020</option>
                    <option value=2021>2021</option>
                    <option value=2022>2022</option>
                    <option value=2023>2023</option>
                    <option value=2024>2024</option>
                    <option value=2025>2025</option>
                    <option value=2026>2026</option>
                    <option value=2027>2027</option>
                    <option value=2028>2028</option>
                    <option value=2029>2029</option>
                    <option value=2030>2030</option>
                </select>
            </form>
        </div>
    </div>

    <footer id="footer">
        <a class="footer_link" href="https://pila.amu.edu.pl/">Kontakt</a>
        <br />
        &copy; Nadnotecki Instytut UAM w Pile
        <br />
        <a class="footer_link" href="https://pila.amu.edu.pl/">Witryna Nadnoteckiego Instytutu UAM w Pile</a>
    </footer>

    <script src="~/Scripts/calendarscipt.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

</body>
</html>
